*{
    font-family: "Circular", "-apple-system", "BlinkMacSystemFont", "Roboto", "Helvetica Neue", sans-serif,
                 system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

a{
    text-decoration: none;color: #000;
    }
body{
    margin: 0px;padding: 0px;width: 100%;
}
#container{
    padding: 5px 40px;
}
/*-------  HEADER -STYLE  -============== */
#header {width: 100%;height: fit-content; padding: 12px 40px ;margin: 0px -40px;
     border-bottom: 1px solid lightgray;padding-bottom: 4px;
    display: flex;justify-content: space-between;flex-wrap: wrap;align-items: center;background-color: white;
    position: sticky;top: 0;  z-index: 2;
}
.left-header{
    >a img{width: 100px;}
}
.mid-header{
    >div{
        display: inline-flex;
        padding: 5px  10px;
        border: 2px solid lightgray;
        border-radius: 25px; margin-left: 30px;
        >a{padding: 2px;height: fit-content;
            border-right: 2px solid lightgray;padding: 5px;
            display: inline-flex;justify-content: center;
            >h4{
                display: inline-block;margin: 5px;
            }
        }
        .search-line{display: inline-flex;justify-content: space-between;align-items: center;
            border-right: none;color: gray;}

        .search-img{width: 30px;height: 30px;margin-left: 10px;
        }
    }
}
.f1{ font-size: 0.8rem;}
.right-header{
    display: inline-flex;justify-content: space-around;align-items: center;gap:20px;
    >img{ width: 20px;height: 20px;}
    .menu-btn a{
        border: 2px solid lightgray;padding: 2px 5px 2px ;
        border-radius: 60px;
        display: flex;justify-content:center;gap:10px;align-items: center;
        >img{width: 40px;
        }
        .menu-lines{
            width: 20px;height: 20px;
        }
    }
}
#nav-bar{background-color: white;padding: 10px 40px;margin: 0px -40px;
    position: sticky;top:65px; z-index: 2;
    display:flex;justify-content: space-between;align-items: center;flex-wrap: wrap;
    
    .left-icons-line{
        width: 70%;
        display:flex;justify-content: space-between;
        flex-direction: row;
        overflow-x:scroll;
        -ms-overflow-style: none; /* IE and Edge */
        align-items: center; 
        .icons { 
            width: 170px;height: 70px;margin: 5px 10px;text-align: center;
            padding: 5px 10px 5px;opacity: 60%;
            
            >a img{
                width: 35px;
            }
            >a p{
                font-size:12px;font-weight: bold;
                margin: 2px 0px;line-height: 15px;
            }
        }
        .icons:hover{
            opacity: 100%;
            padding: 5px 10px 4px;
            border-bottom:1px solid gray ;
        }
    }

    .left-icons-line::-webkit-scrollbar {
        width: 0px; /* Adjust the width to your preference */
    }
    
    .left-icons-line::-webkit-scrollbar-track {
        background: white; /* Background color of the scrollbar track */
        border-radius: 4px; /* Rounded corners for the scrollbar track */
    }
}
.filter a{
    display: flex;justify-content: center;align-items: center;gap:10px;
    border: 2px solid lightgray; border-radius: 15px;padding: 5px 10px;
    >p{font-size:13px;font-weight: bold;}
}
.display-btn {
    width: 150px;padding: 0px 10px;margin: 0px 20px;
    border: 2px solid lightgray; border-radius: 15px;
    >a label{
        display: flex;justify-content: center;align-items: center;gap: 10px;
    }
}
#display1{color: black;font-size: 13px;font-weight: bold;}


/*slider button  ----Add-------------------*/

#middle-content{width: 100%;padding: 10px 0px 30px;margin: 0px;box-sizing: border-box;
    display: flex;justify-content:space-around;flex-wrap: wrap;overflow-wrap: break-word;
}
.image-box{padding: 10px; border-radius: 20px;width: 300px;
    >p{ font-size: 15px;}
}
.image-box:hover{
    box-shadow: 1px 1px 15px lightgray;
    transform: scale(1.1,1.05);
    zoom: 1;
    transition-duration: 0.3s;
}
.image-content{position: relative;z-index: -1;width: 100%;}
.house-img {
    width: 300px;height: 250px;border-radius: 15px;
}
.heart-img{width: 20px;z-index: 1;
    position: absolute; top: 3%;right: 5%;}
.heart-img:hover{background-color: red;cursor: pointer;
}
.rating-box{display: flex;width: 50px;
    justify-content: center;align-items: center;gap: 3px;flex-direction: row;
    position: absolute;top:105%;right:2%;z-index: 1;
    >img{
        width:15px;height: 15px;
        margin: 0px;
    }
    >p{ font-size: 0.9em;
        margin:2px 0px;
    }
}
.image-below-descp{line-height: 0.5rem;font-size: 0.9em;}
.place{font-weight: bold;max-width: 50%;overflow-wrap: break-word; line-height: 1rem;}
.rupees{font-weight: bold;}

.more-box{ 
    text-align: center;margin: auto;width: 100%;
    padding-bottom: 10px;
    >p{
        padding: 20px;
        font-size: 18px;font-weight: bold;margin: 0;
    }
    >a{
        >button{padding: 10px 20px;font-size: 10px;
            font-size: 15px;
            border: 1px solid black;border-radius: 10px;
            color: white;background-color: black;
            position: sticky;bottom: 5px;left: 45%;
        }
    }
}
footer{
    background-color: rgba(231, 230, 230, 0.769);
    padding: 20px 50px 0px;margin: 10px -40px 0px;
}
#foot-box-1{border-bottom: 2px solid lightgray;
    >h1{
        font-weight: bold;font-size:22px ; }
    >.foot-box-1-contents{margin: 5px 0px;padding: 1px;
    display: flex;flex-wrap: wrap;justify-content: left;align-items: center;column-gap: 10px;}
    >.foot-box-1-contents >ul{ padding: 2px;margin-right: 10px;
        width: 100%;border-bottom: 2px solid lightgray;
        display: flex;gap:2%;flex-wrap: wrap;
       
        >li{padding-bottom: 4px ;margin-bottom: 0px ;
            list-style-type: none;
            >a{color: #000; font-weight: 549;font-size: 16px;}
        }
        [class="content 1"]{border-bottom: 2px solid black;}
    }
}
.foot-box-1-topics{width: 100%;margin: 10px auto;
    display: inline-flex;justify-content: left;align-items: flex-start;flex-wrap: wrap;
    >.foot-box-1-subtopics{
        display: inline-block;
        width: 220px;
        
    }
    >span a{color: #000;display: inline-block;
        margin: 10px auto;font-size: 14px;
        >p:nth-child(1){ margin: 5px auto;font-weight: bold;}
        >p:nth-child(2){ color: grey;margin: 2px auto;}
        .show-more{display: flex;justify-content: center;align-items: center;
            >img{width: 20px;}
        }
    }
}
#foot-box-2{font-size: 15px;padding:50px 0px ;
    border-bottom: 2px  solid lightgray;
    display: flex;justify-content: left;align-items:flex-start;gap:20%;
    flex-wrap: wrap;box-sizing: border-box;
    >div ul { 
        padding: 0px;
        >li:nth-child(1){font-weight: bold;}
    }
    >div ul li{ 
        list-style-type: none;padding: 5px 0px;
    }
}

#foot-last{
    display: flex;justify-content: space-between;
    align-items: center;flex-wrap: wrap;
    .foot-last-left{display: flex;
        >ul{display: flex; flex-wrap: wrap;
            >li{width: fit-content;
                >a{color: black;
                    padding-right: 30px;
                    font-size: 14px;
                }
            }
        }
    }
    .foot-last-right{
        display: flex;align-items: center;justify-content: center;gap:10px;
        >a {display: inline-flex;justify-content: space-around;align-items: center;gap:5px}
        >a img{
            width: 20px; }
        >a p{
            font-size: 14px;color: black; }
    }
}
